html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    background-color: $bk-color;
    color: $color;
}

@media (max-width: 60em) {
    html,
    body {
        font-size: 90%;
    }
}

@media (max-width: 48em) {
    html,
    body {
        font-size: 70%;
    }
}

@media (max-width: 33em) {
    html,
    body {
        font-size: 65%;

        h1 {
            font-size: 5.2rem;
        }

        .header {
            margin: 0;
            padding: 1rem;
        }

        .nav {
            margin: 4rem 0;

            & ul li a {
                font-size: 2rem;
            }
        }

        .todo {
            max-width: none;
        }
    }
}

* {
    font: inherit;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    color: $color-highlight;
    margin: 0;
}

h1 {
    font-size: 7.594rem;
}

h2 {
    font-size: 5.063rem;
}

h3 {
    font-size: 3.375rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
}
