/* logout btn quite awful for now */
.logout-form button.btn-small {
    width: 53px;
    height: 51px;
}

.logout-form button {
    border: none;
}

@media (max-width: 60em) {
    .logout-form button.btn-small {
        width: 46px;
        height: 45px;
    }
}

.icon-close {
    opacity: 0;
    transition: opacity 500ms;
    width: 1.6rem;
    height: 1.6rem;
    color: #888;
    cursor: pointer;
    position: absolute;
    left: -38px;
    z-index: 1;
    top: 0;

    .todo:focus &,
    .todo:hover & {
        opacity: 1;
    }
}
