button[name="close"] {
    width: 53px;
    height: 50px;
    border: none;
}

@media (max-width: 60em) {
    button[name="close"] {
        width: 46px;
        height: 45px;
    }
}

.icon-close {
    opacity: 0;
    transition: opacity 500ms;
    width: 1.6rem;
    height: 1.6rem;
    color: #888;
    cursor: pointer;
    position: absolute;
    left: -38px;
    z-index: 1;
    top: 0;

    /* TODO: need to change this */
    .todo:focus &,
    .todo:hover & {
        opacity: 1;
    }
}
