button.btn-small {
    width: 4rem;
}

.icon-close {
    opacity: 0;
    transition: opacity 500ms;
    width: 1.6rem;
    height: 1.6rem;
    color: #888;
    cursor: pointer;
    position: absolute;
    left: -38px;
    z-index: 1;
    top: 0;

    .todo:focus &,
    .todo:hover & {
        opacity: 1;
    }
}
