$color: #444;
$color-highlight: #d64318;
$bk-color: #fff;

$field-color: #484a7f;
$field-color-bk: #ece5de;
$field-color-highlight: #a9abd9;

$action-color: $color-highlight;
$action-color-bk: transparent;
$action-color--hover: $color-highlight;
