.md-RichEditor-root {
    flex: 1;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Merriweather', serif;
    background-color: #f9f9f9;
    font-size: 1.2rem;
    padding: 0;
    margin-right: 1rem;
}

.md-RichEditor-editor {
    .public-DraftEditor-content,
    .public-DraftEditorPlaceholder-root {
        padding: 0 15px;
    }

    .public-DraftEditor-content {
        min-height: 0;
        margin: 0.8rem 0;
    }
}

.public-DraftEditor-content .md-block-paragraph {
    margin: 0.7rem 0;

    span {
        line-height: 1.6;
    }
}

.md-RichEditor-editor .public-DraftEditorPlaceholder-root {
    padding-left: 2.8rem;
}
