.todos {
    margin-top: 5rem;
}

.todo {
    display: flex;
    position: relative;
    align-items: flex-start;
    border-left: $color-highlight 4px solid;
    margin: 0 0 4rem 5rem;
    max-width: 80vw;
}

@media (max-width: 60em) {
    .todo {
        border-left: $color-highlight 3px solid;
        margin: 0 0 4rem 5rem;
    }
}

@media (max-width: 48em) {
    .todo {
        border-left: $color-highlight 2px solid;
        margin: 0 0 3rem 2rem;
    }
}

@media (max-width: 20em) {
    .todo {
        margin: 0 0 2.5rem;
    }
}
