$bk-color: #fafafa; /* #252E3B; */
$bk-color2: #7e91a1;
$color: #91cec9;
$field-color: #db5d3e; /* #DDE9E8; */
$action-color: #8d879b;
$action-color2: #db5d3e;
$action-color2--hover: #ff6108;
$default-color: #394558;
